#CMake+VS+CPack
/x64/
/*.dir/
/Debug/
/Release/
/CMakeFiles/
/*.cmake
/CMakeCache.txt
/Makefile
/*.sln
/*.vcxproj*
/install_manifest.txt
/_CPack_Packages/
#Libs
*.a
*.lib
*.so
*.dll
*.deb
/target/
/rust/Cargo.lock
/_deps/
/.git/
/cargo/
/corrosion/

/openamui/