#CMake+VS+CPack
/x64/
/*.dir/
/Debug/
/Release/
/CMakeFiles/
/cmake_install.cmake
/CMakeCache.txt
/Makefile
/*.sln
/*.vcxproj*
/*.cmake
/install_manifest.txt
/*.deb
/_CPack_Packages/
#Libs
/*.a
/*.lib
/*.so
/*.dll